* {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  width: 100%;
  border: 1px solid;
  /* grid-template-columns: 1fr auto; */
}
.notes_selectors_container {
  filter: url(#gooey-effect);
  height: 100dvh;
  width: max-content;
  padding: 10px;
  border: 1px solid;
}
.add_btn {
  background-color: black;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 20;
}
.note-selectors {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  margin-top: -24px;
  .selector {
    height: 32px;
    width: 32px;
    margin: 0px auto;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    opacity: 0;
    &.first {
      background: #ffcf7d;
      z-index: 10;
      opacity: 1;
    }
    &.second {
      z-index: 9;
      background: #f0a177;
    }
    &.third {
      z-index: 8;
      background: #b095f6;
    }
    &.fourth {
      z-index: 7;
      background: #55cffa;
    }
    &.fifth {
      z-index: 6;
      background: #e6ee96;
    }
  }
}


